/Task
/venv
/.idea
/cars
cars/
/__pycache__
config/__pycache__
university/__pycache__
university/migrations/__pycache__/
payments/__pycache__/
payments/services/__pycache__/
payments/migrations/__pycache__/
payments/management/commands/__pycache__/
user_auth/__pycache__
user_auth/migrations/__pycache__
user_auth/management/commands/__pycache__/
user_auth/services/__pycache__/
.coverage