/Task
/venv
/.idea
/cars
/__pycache__
config/__pycache__
university/__pycache__
university/migrations/__pycache__/
payments/__pycache__/
payments/services/__pycache__/
payments/migrations/__pycache__/
payments/management/commands/__pycache__/
user_auth/__pycache__
user_auth/migrations/__pycache__
user_auth/management/commands/__pycache__/
user_auth/services/__pycache__/
.env
.env-win
.env-docker
.coverage
/pgdata
pgdata/
postgres_data/
redis_data/
redisdata/
celerybeat/
celery/
celerybeat-shedule.bak
celerybeat-shedule.dat
celerybeat-shedule.dir
data/
