/Task
/venv
/.idea
/cars
/__pycache__
config/__pycache__
university/__pycache__
university/migrations/__pycache__/
user_auth/__pycache__
user_auth/migrations/__pycache__
user_auth/management/commands/__pycache__/
.env
.coverage
